<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BilgeCollege.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BilgeCollege.UI.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/layout.css" asp-append-version="true" />

</head>
<body>
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg navbar-light">
            <div style="margin-left:30px;">
                @if (User.IsInRole("Admin"))
                {
                    <h1>Admin Portal</h1>
                }
                else if(User.IsInRole("Teacher"))
                {
                    <h1>Teacher Portal</h1>
                }
                else if(User.IsInRole("Guardian"))
                {
                    <h1>Guardian Portal</h1>
                }
                else if (User.IsInRole("Student"))
                {
                    <h1>Student Portal</h1>
                }
            </div>
            <div class="ms-auto" style="margin-right:30px;">
                <a asp-area="" asp-controller="Account" asp-action="Logout" class="btn btn-danger" style="color:azure">Log Out</a>
            </div>
        </nav>
    </header>
    <div class="d-flex">
        <div class="col-md-2 flex-shrink-0 p-3 side-bar">
            <span class="fs-2 fw-semibold"><strong>Operations</strong></span>
            <ul class="list-unstyled ps-0">
                @if (User.IsInRole("Admin"))
                {
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Teachers" aria-expanded="false">
                            Teachers
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Teachers">
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Teacher" asp-action="Create" class="btn btn-sm sideNavLi" style="background-color: thistle; color: black;">Create</a></li>
                                <li><a asp-area="Admin" asp-controller="Teacher" asp-action="FullList" class="btn btn-sm sideNavLi" style="background-color: thistle; color: black;">Full List</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Students" aria-expanded="false">
                            Students
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Students">
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Student" asp-action="Create" class="btn btn-sm sideNavLi" style="background-color: thistle; color: black;">Create</a></li>
                                <li><a asp-area="Admin" asp-controller="Student" asp-action="FullList" class="btn btn-sm sideNavLi" style="background-color: thistle; color: black;">Full List</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Topics" aria-expanded="false">
                            Topics
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Topics">
                            <ul>
                                <li class="mb-1" style="margin-top:10px;">
                                    <button class="btn align-items-center rounded collapsed sideNavAltHeads" data-bs-toggle="collapse" data-bs-target="#MainTopics" aria-expanded="false">
                                        MainTopics
                                    </button>
                                    <div class="collapse mt-1 sideNavUl" id="MainTopics">
                                        <ul>
                                            <li><a asp-area="Admin" asp-controller="MainTopic" asp-action="Create" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Create</a></li>
                                            <li><a asp-area="Admin" asp-controller="MainTopic" asp-action="FullList" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Full List</a></li>
                                        </ul>
                                    </div>
                                </li>
                                <li class="mb-1" style="margin-top:10px;">
                                    <button class="btn align-items-center rounded collapsed sideNavAltHeads" data-bs-toggle="collapse" data-bs-target="#AltTopics" aria-expanded="false">
                                        AltTopics
                                    </button>
                                    <div class="collapse mt-1 sideNavUl" id="AltTopics">
                                        <ul>
                                            <li><a asp-area="Admin" asp-controller="AltTopic" asp-action="Create" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Create</a></li>
                                            <li><a asp-area="Admin" asp-controller="AltTopic" asp-action="FullList" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Full List</a></li>
                                        </ul>
                                    </div>
                                </li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Classrooms" aria-expanded="false">
                            Classrooms
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Classrooms">
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Classroom" asp-action="Create" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Create</a></li>
                                <li><a asp-area="Admin" asp-controller="Classroom" asp-action="FullList" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Full List</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Guardians" aria-expanded="false">
                            Guardians
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Guardians">
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Guardian" asp-action="Create" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Create</a></li>
                                <li><a asp-area="Admin" asp-controller="Guardian" asp-action="FullList" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">Full List</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Program" aria-expanded="false">
                            Program
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Program">
                            <ul>
                                <li><a asp-area="Admin" asp-controller="Program" asp-action="Show" class="btn btn-sm sideNavAltLi" style="background-color: thistle; color: black;">View</a></li>
                            </ul>
                        </div>
                    </li>
                }
                else if (User.IsInRole("Teacher"))
                {
                    <li class="mb-1" style="margin-top:10px;">
                        <a asp-area="Teacher" asp-controller="MyClass" asp-action="Show" class="btn sideNavLi" style="background-color: thistle; color: black;">MyClasses</a>
                    </li>
                }
                else if (User.IsInRole("Guardian"))
                {
                    <li class="mb-1" style="margin-top:10px;">
                        <a asp-area="Guardian" asp-controller="Children" asp-action="Show" class="btn sideNavLi" style="background-color: thistle; color: black;">MyChildren</a>
                    </li>
                }
                else if (User.IsInRole("Student"))
                {
                    <li class="mb-1" style="margin-top:10px;">
                        <a asp-area="Student" asp-controller="Display" asp-action="Show" class="btn sideNavLi" style="background-color: thistle; color: black;">MyStatus</a>
                    </li>
                }
            </ul>
        </div>
        <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>
        
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/layout.js" asp-append-version="true"></script>
    <script src="~/js/sweetalert2.all.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
