<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BilgeCollege.UI</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/BilgeCollege.UI.styles.css" asp-append-version="true" />

    <style>
        body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }

        header {
            background-color: #772ad2;
        }

        footer {
            background-color: #f8f9fa;
            text-align: center;
            padding: 10px;
            margin-top: auto;
            width: 100%;
            border-top: 1px solid #dee2e6;
        }

        .d-flex {
            flex: 1;
        }

        .main-content {
            flex-grow: 1;
            padding: 20px;
        }
        .sideNavHeads{
            background-color: thistle;
            width: 55%;
            text-align: start;
        }
        .sideNavUl{
            margin-left:10px;
        }
        .sideNavLi{
            width: 55%;
            text-align: start;
            border: none;
        }
    </style>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-light">
            <div class="ms-auto" style="margin-right:30px;">
                <a href="#" class="btn btn-danger" style="color:azure">Log Out</a>
            </div>
        </nav>
    </header>
    <div class="d-flex">
        <div class="col-md-2 flex-shrink-0 p-3" style="width:250px; margin-left:25px; background-color:#9d8fb9;">
            <span class="fs-2 fw-semibold">Menu</span>
            @if(User.IsInRole("Admin"))
            {
                <ul class="list-unstyled ps-0">
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Teachers" aria-expanded="false">
                            Teachers
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Teachers">
                            <ul>
                                <li><a href="#" class="btn btn-sm btn-primary sideNavLi" style="background-color: oldlace; color: black;">Ex</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Students" aria-expanded="false">
                            Students
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Students">
                            <ul>
                                <li><a href="#" class="btn btn-sm btn-primary sideNavLi" style="background-color: oldlace; color: black;">Ex</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Topics" aria-expanded="false">
                            Topics
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Topics">
                            <ul>
                                <li><a href="#" class="btn btn-sm btn-primary sideNavLi" style="background-color: oldlace; color: black;">Ex</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Classrooms" aria-expanded="false">
                            Classrooms
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Classrooms">
                            <ul>
                                <li><a href="#" class="btn btn-sm btn-primary sideNavLi" style="background-color: oldlace; color: black;">Ex</a></li>
                            </ul>
                        </div>
                    </li>
                    <li class="mb-1" style="margin-top:10px;">
                        <button class="btn align-items-center rounded collapsed sideNavHeads" data-bs-toggle="collapse" data-bs-target="#Guardians" aria-expanded="false">
                            Guardians
                        </button>
                        <div class="collapse mt-1 sideNavUl" id="Guardians">
                            <ul>
                                <li><a href="#" class="btn btn-sm btn-primary sideNavLi" style="background-color: oldlace; color: black;">Ex</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            }
            
        </div>

        <div class="main-content">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>

    <footer>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
