@model DayScheduleVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Update Day Program";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/submissionForm.css" rel="stylesheet">
</head>

<body>
    <div class="col-md-5">
        <div class="text-center">
            <h1 class="display-5">Create Program for @Model.Day</h1>
        </div>

        <form method="post" class="form-container">

            @for (int i = 0; i < 8; i++)
            {
                <div class="form-group mb-4">
                    <select class="form-control" asp-for="AltTopicIds[i]">
                        <option value="1" selected>--Select an alt topic--</option>
                        @foreach (var item in ViewBag.ActiveAltTopics)
                        {
                            <option value="@item.Id">@item.TopicCode</option>
                        }
                    </select>
                </div>
            }

            <div class="d-grid">
                <button type="submit" class="btn btn-submit">Create</button>
            </div>
        </form>
    </div>
</body>

