@model Teacher
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Teacher Details";
}

<div>
    <partial name="/Areas/Admin/Views/Shared/Details/_PartialTeacherDetail.cshtml" model=Model />
</div>
