@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "FullList Teacher";
}

<div class="d-flex">
    <div class="col-md-6">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialActiveTeacherList.cshtml" model="ViewBag.ActiveTeachers" />
    </div>
    <div class="col-md-6">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialPassiveTeacherList.cshtml" model="ViewBag.PassiveTeachers" />
    </div>
</div>

