@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "FullList Classroom";
}

<div class="d-flex">
    <div class="col-md-5">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialActiveClassroomList.cshtml" model="ViewBag.ActiveClassrooms" />
    </div>
    <div class="col-md-5">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialPassiveClassroomList.cshtml" model="ViewBag.PassiveClassrooms" />
    </div>
</div>

