body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #772ad2;
}

footer {
    background-color: #f8f9fa;
    text-align: center;
    padding: 10px;
    margin-top: auto;
    width: 100%;
    border-top: 1px solid #dee2e6;
}

.d-flex {
    flex: 1;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    margin-left: 275px;
}

.sideNavHeads {
    background-color: thistle;
    width: 55%;
    text-align: start;
}

.sideNavUl {
    margin-left: 10px;
}

.sideNavLi {
    width: 55%;
    text-align: start;
    border: none;
    margin-top: 5px;
}

.sideNavAltHeads {
    background-color: thistle;
    width: 65%;
    text-align: start;
}

.sideNavAltLi {
    width: 65%;
    text-align: start;
    border: none;
    margin-top:5px;
}

.side-bar {
    width: 250px;
    height:100%;
    margin-left: 25px;
    background-color: #9d8fb9;
    position: fixed
}