.login-container {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

.form-control {
    border-radius: 30px;
}

.btn-login {
    background-color: #6f42c1;
    border: none;
    border-radius: 30px;
    padding: 10px 25px;
    color: #fff;
    transition: background-color 0.3s ease;
}

.btn-login:hover {
    background-color: #5a34a1;
}

.text-center h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #333;
}

.remember-me {
    display: flex;
    align-items: center;
}

.welcome-header {
    font-size: 3rem;
    font-weight: bold;
    background: -webkit-linear-gradient(45deg, #ff6ec4, #7873f5);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    opacity: 1;
}
