@model Guardian
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Guardian Details";
}

<div>
    <partial name="/Areas/Admin/Views/Shared/Details/_PartialGuardianDetail.cshtml" model=Model />
</div>