@model LoginVM
@{
    ViewData["Title"] = "BilgeCollege - Login";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@ViewData["Title"]</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
    <link href="~/css/login.css" rel="stylesheet">

</head>
<body>
    <div class="container align-content-center vh-100">
        <div class="container text-center mt-4">
            <h1 class="welcome-header">Welcome To Bilge College Portal</h1>
        </div>
        <div class="container d-flex justify-content-center align-items-center vh-50" style="margin-top:50px;">
            <div class="login-container col-md-6 col-lg-4 shadow-lg p-4">
                <div class="text-center">
                    <h1 class="display-5">Account Login</h1>
                </div>

                <form method="post">
                    <div class="form-group mb-4">
                        <input asp-for="Email" type="email" class="form-control" placeholder="example@@bilgecollege.com">
                        <span asp-validation-for="Email" class="form-text text text-danger"></span>
                    </div>

                    <div class="form-group mb-4">
                        <input asp-for="Password" type="password" class="form-control" placeholder="Password">
                        <span asp-validation-for="Password" class="form-text text text-danger"></span>
                    </div>

                    <div class="remember-me mb-4">
                        <label class="form-check-label">Remember Me</label>
                        <input asp-for="bRememberMe" type="checkbox" class="form-check-input ms-2">
                    </div>

                    <div class="d-grid">
                        <button type="submit" class="btn btn-login">Login</button>
                    </div>

                    <div>
                        <span class="form-text text-danger">@ViewData["LoginError"]</span>
                    </div>

                    <div class="text-center mt-3">
                        <a href="#" class="text-muted">Forgot your password?</a>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
</body>
</html>
