@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Error";
}

<div class="container mt-4">
    <p class="mb-4 text-danger">Main topic targeted for delete is used by the following teachers. In order to delete the main topic, it musn't be used by any active teachers</p>
    <div class="container mt-4">
        <partial name="_PartialTeacherList" model="ViewBag.Teachers" />
    </div>
</div>
