@model MainTopicVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Create MainTopic";
}

<head>
    <title>@ViewData["Title"]</title>
    <link href="~/css/submissionForm.css" rel="stylesheet">
</head>

<body>
    <div class="d-flex">
        <div class="col-md-3">
            <div class="text-center">
                <h1 class="display-5">Create a Main Topic</h1>
            </div>

            <form method="post" class="form-container">
                <div class="form-group mb-4">
                    <input asp-for="TopicName" type="text" class="form-control" placeholder="Main topic, ex: Math">
                    <span asp-validation-for="TopicName" class="form-text text text-danger"></span>
                </div>

                <div class="d-grid">
                    <button type="submit" class="btn btn-submit">Create</button>
                </div>
            </form>
        </div>
        <div class="col-md-5">
            <partial name="_PartialActiveMainTopicList" model="ViewBag.MainTopics" />
        </div>
    </div>

</body>

