@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "FullList MainTopic";
}

<div class="d-flex">
    <div class="col-md-5">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialActiveMainTopicList.cshtml" model="ViewBag.ActiveMainTopics" />
    </div>
    <div class="col-md-5">
        <partial name="/Areas/Admin/Views/Shared/PartialLists/_PartialPassiveMainTopicList.cshtml" model="ViewBag.PassiveMainTopics" />
    </div>
</div>

