@model List<MainTopic>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Recycle MainTopic";
}

<div class="d-flex">
    <div class="col-md-4">
        <partial name="_PartialActiveMainTopicList" model="ViewBag.ActiveMainTopics" />
    </div>
    <div class="col-md-4">
        <partial name="_PartialPassiveMainTopicList" model="ViewBag.PassiveMainTopics" />
    </div>
</div>

